.toastList {
  position: absolute;
  right: 10px;
  bottom: 35px;
  width: 400px;
}

.toastItem {
  position: relative;
  overflow: hidden;
}

.toastItem h5 {
  font-size: 14;
  text-transform: capitalize;
}

.toastItem p {
  font-size: 13;
  margin-bottom: 0;
  text-transform: capitalize;
}

.toastItem button {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 8px;
  height: 8px;
}

.toastItem span {
  position: absolute;
  min-height: 4px;
  bottom: 0;
  left: 0;
}

@media (width < 1367px) {
  .toastList {
    width: 300px;
  }
  .toastItem h5 {
    font-size: 17px;
  }
  .toastItem p {
    font-size: 13px;
  }
}
